<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cat Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    
</head>
<body>
    <div class = "well" >
    <div class = "col-md-10">
    <h3> <%= cat[0].name %> info: </h3>
    <p>Weight: <%= cat[0].weight%> 
    </p>
    <p> Color: <%= cat[0].color %>
    </p>
    <a href="/">Go Back</a>
</div>
      </div>
</body>
</html>